ToyBotSimulation/bin/Debug/ToyBotSimulation.exe
ToyBotSimulation/bin/Debug/ToyBotSimulation.exe.config
ToyBotSimulation/bin/Debug/ToyBotSimulation.pdb
ToyBotSimulation/bin/Debug/ToyBotSimulation.vshost.exe
ToyBotSimulation/bin/Debug/ToyBotSimulation.vshost.exe.config
ToyBotSimulation/bin/Debug/ToyBotSimulation.vshost.exe.manifest
ToyBotSimulation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ToyBotSimulation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToyBotSimulation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToyBotSimulation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToyBotSimulation/obj/Debug/ToyBotSimulation.csproj.FileListAbsolute.txt
ToyBotSimulation/obj/Debug/ToyBotSimulation.exe
ToyBotSimulation/obj/Debug/ToyBotSimulation.pdb
